* {
    background: #F5F5F5;
    
}

.nav {
    display: flex;
    color: #065666;
    justify-content: space-between; 
    align-items: center;
    padding: 20px;
}

.nav-1con{
    width: 50px;  
}

 .nav-list  li{
    display: inline-block;
    margin: 0 1rem;
    font-family: 'Manrope';
    font-weight: 700;
    font-size: 20px;
    font-style: normal;
    padding: 0.5rem;
   
}


.request-btn button {
    background-color: #0fc02d;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 85px;
  }


.request-btn button i {
    margin-left: 10px;
    font-size: 18px;
    background-color: #0fc02d;
    color: #fff;

  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }

  .mission {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .button  {
    display: inline-block;    
  }

   button .login {
    background-color: #fff;
    color: #0fc02d;
 
  }

  #login {
    background-color: #fff;
    color: #0fc02d;
    border: 2px solid #0fc02d;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
  }  

  .image1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 70%;
  }
  
  .img img {
    max-width: 100%;
    max-height: 100%;
    align-items: center;
    margin-left: 300px;
    
  }

  .support {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .grid-container {
    display: grid;
    background-color: #F5F5F5;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    padding: 20px;
  }

  #why {
    margin-top: 55px;
    background-color: #111111;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    padding: 50px 0;
    
  }
  
  .award {
    background-color: #111111;
    color: white;
    text-align: left;
    margin-bottom: 20px;
    margin-left: 40px;
  }
  
  .award h1 {
    background-color: #111111;
    color: white;
    font-size: 36px;
  }
  
  .award p {
    background-color: #111111;
    color: white;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .flex {
    background-color: #111111;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    margin-left: 20px;
  }
  
  .flex > div {
    background-color: #111111;
    color: white;
    flex: 1;
    max-width: 300px;
    margin: 20px;
    text-align: left;
  }
  
  .flex h3 {
    background-color: #111111;
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .flex p {
    background-color: #111111;
    color: white;
    font-size: 16px;
    line-height: 1.5;
  }
  

  .wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper .text {
    flex-basis: 50%;
}

.wrapper .image {
    flex-basis: 50%;
    text-align: right;
}

.wrapper img {
    max-width: 100%;
    width: 600px;
    height: 600px;
    margin-right: 200px;
    margin-top: 100px;
}

button .btn {
    background-color: #fff;
    color: #0fc02d;


 
  }

  #demo {
    background-color: #0fc02d;
    color: #fff;
    border: 2px solid;
    padding: 20px 30px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-left: 700px;
    margin-top: 40px;

  }   

   .button i {
    margin-left: 10px;
    font-size: 18px;
    background-color: #0fc02d;
    color: #fff;

  }